# duplicate this file and rename to .env.local and fill in all items
PROVIDER_URI_GOERLI=
NEXT_PUBLIC_PROVIDER_URI_GOERLI=
COVALENT_API_KEY=

# Get your project ID from WalletConnect Cloud https://cloud.walletconnect.com/
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=