# duplicate this file and rename to .env.local and fill in all items

# Provider URI (get one from Quicknode, Alchemy, Infura, etc)
NEXT_PUBLIC_PROVIDER_URI_GOERLI=

# Get your project ID from WalletConnect Cloud https://cloud.walletconnect.com/
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
